/* ==== SECTION ==== */
.goals {
    width: 100%;
    padding: 7% 5% 7% 5%;
    background-color: #FFF;
}



















/* ==== IMAGE ==== */
.goals_img_div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 2.5rem 0 3rem 0;
}


.goals_img_div img {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




















/* ==== TEXT ==== */
.goals_text_div h2 {
    padding: 2rem 0 2.5rem 0;
    font-size: 2.8rem;
    text-align: center;
}


.goals_text_div p {
    font-size: 1.7rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}




















/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {
    .goals_main_div {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
}

    .goals_img_div {
        width: 40%;
    }

    .goals_text_div {
        width: 50%;
    }

    .goals_text_div p {
        line-height: 2.4rem;
        text-align: start;
    }
} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {
    .goals_text_div {
        width: 80%;
        margin: auto;
    }

    .goals_text_div p {
        line-height: 2.4rem;
    }
} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {
    .goals_text_div p {
        line-height: 2.2rem;
    }
} /* ---- mobile and small tablets ---- */