/* ==== CONTACTS ==== */
.contact_infos {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.contact_infos div {
    margin: 4%;
    padding: 1rem;
    text-align: center;
}










/* ==== CONTACTS ==== */
/* ---- text inside button ---- */
.contacts_button {
    font-size: 1.7rem;
}


/* ---- a ---- */
.contact_infos a {
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}



















/* ==== INDIVIDUAL CONTACTS ==== */
.ctt_1 a {
    background-color: #b10000;
}
.ctt_1 a:hover {
    background-color: #a00000;
}


.ctt_2 a {
    background-color: #0072b1;
}
.ctt_2 a:hover {
    background-color: #0068a0;
}




















/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {

} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {

} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {

} /* ---- mobile and small tablets ---- */