/* ==== CONTACTS ==== */
.contact_infos {
    width: 100%;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.contact_infos div {
    margin: 2rem;
    padding: 1rem;
}










/* ---- text inside button ---- */
.contacts_button {
    font-size: 1.7rem;
}









/* ---- span ---- */
.contact_infos span {
    font-size: 1.7rem;
}










/* ---- a ---- */
.contact_infos a {
    color: #008cff;
}
.contact_infos a:hover {
    color: #006bc2;
}



















/* ==== INDIVIDUAL CONTACTS ==== */
.cont_1 b {
    color: #b10000;
}


.cont_2 b {
    color: #00b109;
}


.cont_3 b {
    color: #0072b1;
}




















/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {
    .contact_infos div {
        margin: 1.8rem;
    }
} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {
    .contact_infos div {
        margin: 1.4rem;
    }
} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {
    .contact_infos div {
        margin: 1.2rem;
    }
} /* ---- mobile and small tablets ---- */