/* ==== SECTION ==== */
.skills {
    width: 100%;
    padding: 6% 5% 6% 5%;
    text-align: center;
    background-color: #FFF;
}


.skills h2 {
    padding: 2rem 0 4rem 0;
    font-size: 2.8rem;
}




















/* ==== CONTAINER ==== */
.grid_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 1rem 0 2rem 0;
}




















/* ==== ITEM ==== */
.grid_item {
    padding: 15px;
    text-align: center;
    background-color: #d2d6e2;
    cursor: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
}


.grid_item:hover {
    background-color: #008cff;
    color: #FFF;
    transition: 0.5s;
    cursor: none;
}


.grid_item h3 {
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
}


.grid_item p {
    font-size: 1.5rem;
    line-height: 2rem;
}




















/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {
    .grid_item h3 {
        font-size: 2rem;
    }

    .grid_item p {
        line-height: 2.3rem;
    }
} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {
    .grid_item h3 {
        font-size: 2rem;
    }

    .grid_item p {
        line-height: 2.2rem;
    }
} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {
    .grid_item h3 {
        font-size: 1.9rem;
    }

    .grid_item p {
        line-height: 2.1rem;
    }
} /* ---- mobile and small tablets ---- */