/* ==================== SECTION 1 ==================== */
/* ----- main ----- */
.home_section1 {
    padding: 8% 5% 8% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2d6e2;
}


.home_section1_main_div {
    flex-direction: column;
    margin: auto;
}


/* ----- imagem ----- */
.home_section1_image_div {
    width: 60vw;
    margin: auto;
    padding: 1rem 0 2rem 0;
}


.home_section1_image_div img {
    width: 100%;
}
.home_section1_image_div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    border-radius: 1000px;
}


/* ----- texto ----- */
.home_text_div {
    text-align: center;
}


/* ---- h1 / p ---- */
.home_text_div h1 {
    font-size: 3.5rem;
    font-weight: normal;
    padding: 1rem 0 2rem 0;
}


.home_text_div p {
    padding: 1rem 0 2rem 0;
    font-size: 1.7rem;
    line-height: 2rem;
}


/* ---- buttons ---- */
.contacts_button {
    padding: 2vh 6vw; 
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: .5rem;
    border-style: none;
    text-decoration: none;
    color: white;
    background-color: #00cc83;
}
.contacts_button:hover {
    cursor: pointer;
    background-color: #00a86d;
    transition: 0.3s;
}


.close_button {
    position:absolute;
    top:0;
    right:0;
    margin: 5px;
    padding: 7px 12px 7px 12px;
    border: none;
    border-radius: 1000px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: red;
}
.close_button:hover {
    cursor: pointer;
    background-color: rgb(226, 0, 0);
}




















/* ==================== SECTION 2 ==================== */
.home_section2 {
    padding: 4vh 1vw;
    background-color: #191e28;
}


/* ----- main ----- */
.home_section2_main_div {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ----- symb list ----- */
.symbList {
    display: flex;
    justify-content: space-around;
    min-height: 40px;
}


/* ----- symb item ----- */
.symbItem div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.symbItem {
    width: 32px;
    height: 32px;
}




















/* ==================== SECTION 3 ==================== */
.home_section3 {
    padding: 5%;
    text-align: center;
    background-color: #FFF;
}


.home_section3 h2 {
    padding: 3rem 0 4rem 0;
    font-size: 2.8rem;
}


/* ----- container ----- */
.grid_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 1rem 0 2rem 0;
}


/* ----- item ----- */
.grid_item {
    padding: 15px;
    text-align: center;
    background-color: #d2d6e2;
    cursor: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
}


.grid_item:hover {
    background-color: #008cff;
    color: #FFF;
    transition: 0.5s;
    cursor: none;
}


.grid_item h3 {
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
}


.grid_item p {
    font-size: 1.5rem;
    line-height: 2rem;
}




















/* ==================== SECTION 4 ==================== */
.home_section4 {
    padding: 5% 4% 10% 4%;
    color: #fff;
    background-color: #000;
}


/* ----- h2 ----- */
.home_section4 h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.8rem;
}


/* ----- p ----- */
.home_section4 div p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 3rem;
}


/* ----- imagem ----- */
.github_div_img {
    text-align: center;
    padding: 2rem 0;
}


.home_section4 div img {
    width: 100%;
    max-width: 200px;
}


/* ----- lista ----- */
.home_section4 div ul {
    display: table;
    margin: 0 auto;
}
.home_section4 div li {
    margin-bottom: .3rem;
}


/* ----- button ----- */
.github_div_button {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}


.github_div_button a {
    padding: 2vh 4vw;
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.github_div_button a:hover {
    background-color: rgb(194, 194, 194)
}




















/* ==================== SECTION 5 ==================== */
.home_section5 {
    padding: 5%;
    text-align: center;
    background-color: #ebeced;
}


.home_section5 h2 {
    padding: 2.5rem 0 1.5rem 0;
    font-size: 2.8rem;
}


/* ----- div principal ----- */
.home_section5_main_div {
    width: 90%;
    margin: auto;
}


/* ----- imagens ----- */
.home_section5_img_div {
    margin: auto;
    width: 45vw;
    max-width: 250px;
    padding: 2rem 0 2.5rem 0;
}


.home_section5_img_div img {
    width: 100%;
    border-radius: 100px;
    background-color: #008cff;
}
.home_section5_img_div img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}


/* ----- texto ----- */
.home_section5_main_div p {
    font-size: 1.7rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}




















/* ==================== SECTION 6 ==================== */
.home_section6 {
    padding: 7% 5% 7% 5%;
    background-color: #FFF;
}


/* ----- images ----- */
.home_section6_img_div {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 2.5rem 0 3rem 0;
}


.home_section6_img_div img {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ----- text ----- */
.home_section6_text_div h2 {
    padding: 2rem 0 2.5rem 0;
    font-size: 2.8rem;
    text-align: center;
}


.home_section6_text_div p {
    font-size: 1.7rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}














































































/* ==================== MEDIA QUERIES ==================== */
@media (min-width: 1024px) {
/* ==================== SECTION 1 ==================== */
    .home_section1_main_div {
        display: flex;
        flex-direction: row-reverse;
    }

    .home_text_div {
        width: 50%;
        margin-left: 5vw;
        text-align: start;
    }

    .home_text_div h1 {
        font-size: 4rem;
    }

    .home_text_div p {
        line-height: 2.4rem;
    }

    .contacts_button {
        font-size: 1.6rem;
    }

    .home_section1_image_div {
        max-width: 340px;
    }





/* ==================== SECTION 3 ==================== */
    .grid_item h3 {
        font-size: 2rem;
    }

    .grid_item p {
        line-height: 2.3rem;
    }





/* ==================== SECTION 4 ==================== */
    .home_section4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8% 3%;
    }





/* ==================== SECTION 5 ==================== */
    .home_section5_main_div {
        width: 40%;
    }

    .home_section5_main_div p {
        line-height: 2.4rem;
    }





/* ==================== SECTION 6 ==================== */
    .home_section6_main_div {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .home_section6_img_div {
        width: 40%;
    }

    .home_section6_text_div {
        width: 50%;
    }

    .home_section6_text_div p {
        line-height: 2.4rem;
        text-align: start;
    }
} /* ---- laptops and desktops ---- */










@media (min-width: 762px) and (max-width: 1024px) {
/* ==================== SECTION 1 ==================== */
    .home_section1_main_div {
        width: 80%;
    }

    .home_text_div h1 {
        font-size: 3.6rem;
    }

    .home_text_div p {
        line-height: 2.4rem;
    }

    .contacts_button {
        font-size: 1.5rem;
    }

    .home_section1_image_div {
        width: 300px;
    }




/* ==================== SECTION 3 ==================== */
    .grid_item h3 {
        font-size: 2rem;
    }

    .grid_item p {
        line-height: 2.2rem;
    }





/* ==================== SECTION 4 ==================== */
    .home_section4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8% 3%;
    }





/* ==================== SECTION 5 ==================== */
    .home_section5_main_div {
        width: 80%;
    }

    .home_section5_main_div p {
        line-height: 2.4rem;
    }





/* ==================== SECTION 6 ==================== */
    .home_section6_text_div {
        width: 80%;
        margin: auto;
    }

    .home_section6_text_div p {
        line-height: 2.4rem;
    }
} /* ---- tablets ---- */










@media (min-width: 500px) and (max-width: 762px) {
/* ==================== SECTION 1 ==================== */
    .home_text_div h1 {
        font-size: 3.2rem;
    }

    .home_text_div p {
        line-height: 2.2rem;
    }

    .contacts_button {
        font-size: 1.4rem;
    }

    .home_section1_image_div {
        width: 260px;
    }





/* ==================== SECTION 3 ==================== */
    .grid_item h3 {
        font-size: 1.9rem;
    }

    .grid_item p {
        line-height: 2.1rem;
    }





/* ==================== SECTION 5 ==================== */
    .home_section5_main_div {
        width: 80%;
    }

    .home_section5_main_div p {
        line-height: 2.2rem;
    }





/* ==================== SECTION 6 ==================== */
    .home_section6_text_div p {
        line-height: 2.2rem;
    }
} /* ---- mobile and small tablets ---- */