nav {
    width: 100%;
    top: 0;
    height: 60px;
    color: white;
    background-color: #191e28;
}


/* ----- main ---- */
.nav_main_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----- logo ----- */
.nav_main_div div span {
    margin-left: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: default;
}