/* ==== SECTION ==== */
.aboutme {
    width: 100%;
    padding: 5%;
    text-align: center;
    background-color: #ebeced;
}


.aboutme h2 {
    padding: 1rem 0 2rem 0;
    font-size: 2.8rem;
}




















/* ==== IMAGE ==== */
.aboutme_img_div {
    margin: auto;
    width: 38vw;
    max-width: 250px;
    padding: 2rem 0 4rem 0;
}


.aboutme_img_div img {
    width: 100%;
    border-radius: 100px;
    background-color: #008cff;
}
.aboutme_img_div img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}




















/* ==== MAIN ==== */
.aboutme_main_div {
    width: 90%;
    margin: auto;
}




















/* ==== TEXT ==== */
.aboutme_main_div p {
    font-size: 1.7rem;
    line-height: 2rem;
}




















/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {
    .aboutme_main_div {
        width: 40%;
    }

    .aboutme_main_div p {
        line-height: 2.4rem;
    }
} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {
    .aboutme_main_div {
        width: 50%;
    }

    .aboutme_main_div p {
        line-height: 2.4rem;
    }
} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {
    .aboutme_main_div {
        width: 80%;
    }

    .aboutme_main_div p {
        line-height: 2.2rem;
    }
} /* ---- mobile and small tablets ---- */