/* ==== NAVBAR ==== */
.nav {
    width: 100%;
    top: 0;
    height: 60px;
    color: white;
    background-color: #191e28;
}













/* ==== MAIN ==== */
.nav_main_div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

















/* ==== LOGO ==== */
.nav_main_div div span {
    margin-left: 2rem;
    padding: 1rem;
    font-weight: bold;
    cursor: default;
}
















/* ==== UL ==== */
.nav_main_div ul {
    margin-right: 2rem;
    display: flex;
    list-style: none;
}













/* ==== LI ==== */
.nav_main_div li {
    margin-right: 2rem;
    padding: .5rem;
}


.nav_main_div li:hover {
    cursor: pointer;
    color: #008cff;
    transition: 0.3s;
}














/* ==== MEDIA QUERIES ==== */
@media (min-width: 1024px) {
    .nav_main_div li {
        font-size: 1.7rem;
        }
} /* ---- laptops and desktops ---- */





@media (min-width: 762px) and (max-width: 1024px) {
    .nav_main_div ul {
        display: none;
    }

    .nav_main_div li {
        font-size: 1.7rem;
        }
} /* ---- tablets ---- */





@media (min-width: 500px) and (max-width: 762px) {
    .nav_main_div ul {
        display: none;
    }
} /* ---- mobile and small tablets ---- */





@media (max-width: 500px) {
    .nav_main_div ul {
        display: none;
    }
} /* ---- mobile ---- */